@{
    ViewData["Title"] = "Home Page";
}
@model Interface_de_votantes.Services.Storage
@if (Model != null)
{
    <div class="container">
        <div class="form-group" style="width: 300px; margin: 0 auto;">
            <h2>Ingreso de Votaciones</h2>
            <form action="/Home/Index" method="post">
                <div class="form-group">
                    <label for="numberS">DPI:</label>
                    <input type="number" name="dpi" placeholder="Ej, 2320556340102 " required />
                    <!--Se cambio el tipo text a number para que solo se puedan ingresar numeros
                    ,se agrego el campo requiered para que no se pueda dejar el box en blanco y placeholder para
                    mostrar un ejemplo-->
                    >
                </div>
                <div class="form-group">
                    <label for="numberS">Departamento:</label>
                    <select class="form-control" name="depto">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberS">Presidente:</label>
                    <select class="form-control" name="presi">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberS">Alcalde: </label>
                    <select class="form-control" name="alcalde">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberS">Diputado Distrital:</label>
                    <select class="form-control" name="boletadiputadodistrito">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberS">Diputado Nacional:</label>
                    <select class="form-control" name="boletadiputadonacional">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberS">Fecha:</label>
                    <input type="text" name="fecha" id="txtDeporte" />
                </div>
                <button type="submit" value="enviar" class="btn btn-primary">Enviar información</button>
            </form>
        </div>
    </div>
}

<!--Se agrego el codigo de javascript para mandar alertas-->
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}

